<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd" default-lazy-init="true">
    <context:component-scan base-package="com.zhz.web"/>
    <mvc:annotation-driven />
    <!-- 对静态资源文件的访问方案 默认 -->
    <!--<mvc:default-servlet-handler />-->
    <!--<mvc:resources location="/bootstrap/" mapping="/bootstrap/**"/>-->
    <!--<mvc:resources location="/dist/" mapping="/dist/**"/>-->
    <!--<mvc:resources location="/plugins/" mapping="/plugins/**"/>-->

      <!--<mvc:interceptors>-->
          <!--<mvc:interceptor>-->
              <!--&lt;!&ndash;<mvc:mapping path="/**" />&ndash;&gt;-->
              <!--&lt;!&ndash;<mvc:exclude-mapping path="/admin/**" />&ndash;&gt;-->
              <!--&lt;!&ndash;<mvc:exclude-mapping path="/service/**" />&ndash;&gt;-->
              <!--&lt;!&ndash;<mvc:exclude-mapping path="/css/**" />&ndash;&gt;-->
              <!--&lt;!&ndash;<mvc:exclude-mapping path="/images/**" />&ndash;&gt;-->
              <!--&lt;!&ndash;<mvc:exclude-mapping path="/upload/**" />&ndash;&gt;-->
              <!--&lt;!&ndash;<mvc:exclude-mapping path="/js/**"/>&ndash;&gt;-->
              <!--&lt;!&ndash;<mvc:exclude-mapping path="/html/**"/>&ndash;&gt;-->
               <!--&lt;!&ndash;<mvc:exclude-mapping path="/"/>&ndash;&gt;-->
              <!--&lt;!&ndash;<bean class="com.sjgd.hud.interceptor.LoginInterceptor" />&ndash;&gt;-->
          <!--</mvc:interceptor>-->
      <!--</mvc:interceptors>-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
      <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="909600000" />
        <property name="maxInMemorySize" value="4096" />
    </bean>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/" />
        <property name="suffix" value=".jsp" />
    </bean>
</beans>