<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhz.dao.mapper.ContentMapper">
    <resultMap id="BaseResultMap" type="com.zhz.domain.Content">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="album_id" property="albumId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="filename" property="filename" jdbcType="VARCHAR"/>
        <result column="filename_64" property="filename64" jdbcType="VARCHAR"/>
        <result column="file_size" property="fileSize" jdbcType="INTEGER"/>
        <result column="file_size_64" property="fileSize64" jdbcType="INTEGER"/>
        <result column="file_ext" property="fileExt" jdbcType="VARCHAR"/>
        <result column="duration" property="duration" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="is_del" property="isDel" jdbcType="BIT"/>
        <result column="display_order" property="displayOrder" jdbcType="INTEGER"/>
        <result column="admin_id" property="adminId" jdbcType="INTEGER"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="play_count" property="playCount" jdbcType="INTEGER"/>
        <result column="like_count" property="likeCount" jdbcType="INTEGER"/>
        <result column="comment_count" property="commentCount" jdbcType="INTEGER"/>
        <result column="online_time" property="onlineTime" jdbcType="TIMESTAMP"/>
        <result column="share_count" property="shareCount" jdbcType="INTEGER"/>
        <result column="source" property="source" jdbcType="INTEGER"/>
        <result column="pool_id" property="poolId" jdbcType="INTEGER"/>
        <result column="real_like_count" property="realLikeCount" jdbcType="INTEGER"/>
        <result column="real_play_count" property="realPlayCount" jdbcType="INTEGER"/>
        <result column="download_count" property="downloadCount" jdbcType="INTEGER"/>
        <result column="real_download_count" property="realDownloadCount" jdbcType="INTEGER"/>
        <result column="is_down" property="isDown" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, title, album_id, user_id, filename, filename_64, file_size, file_size_64, file_ext,
        duration, status, is_del, display_order, admin_id, created_at, updated_at, play_count,
        like_count, comment_count, online_time, share_count, source, pool_id, real_like_count,
        real_play_count, download_count, real_download_count, is_down
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhz.domain.ContentConditions">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from duotin_content
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from duotin_content
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from duotin_content
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.zhz.domain.ContentConditions">
        delete from duotin_content
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.zhz.domain.Content" useGeneratedKeys="true" keyProperty="id">
        insert into duotin_content (title, album_id, user_id,
        filename, filename_64, file_size,
        file_size_64, file_ext, duration,
        status, is_del, display_order,
        admin_id, created_at, updated_at,
        play_count, like_count, comment_count,
        online_time, share_count, source,
        pool_id, real_like_count, real_play_count,
        download_count, real_download_count, is_down)
        values (#{title,jdbcType=VARCHAR}, #{albumId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
        #{filename,jdbcType=VARCHAR}, #{filename64,jdbcType=VARCHAR}, #{fileSize,jdbcType=INTEGER},
        #{fileSize64,jdbcType=INTEGER}, #{fileExt,jdbcType=VARCHAR}, #{duration,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER}, #{isDel,jdbcType=BIT}, #{displayOrder,jdbcType=INTEGER},
        #{adminId,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP},
        #{playCount,jdbcType=INTEGER}, #{likeCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER},
        #{onlineTime,jdbcType=TIMESTAMP}, #{shareCount,jdbcType=INTEGER}, #{source,jdbcType=INTEGER},
        #{poolId,jdbcType=INTEGER}, #{realLikeCount,jdbcType=INTEGER}, #{realPlayCount,jdbcType=INTEGER},
        #{downloadCount,jdbcType=INTEGER}, #{realDownloadCount,jdbcType=INTEGER}, #{isDown,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.zhz.domain.Content" useGeneratedKeys="true"
            keyProperty="id">
        insert into duotin_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="albumId != null">
                album_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="filename != null">
                filename,
            </if>
            <if test="filename64 != null">
                filename_64,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
            <if test="fileSize64 != null">
                file_size_64,
            </if>
            <if test="fileExt != null">
                file_ext,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="displayOrder != null">
                display_order,
            </if>
            <if test="adminId != null">
                admin_id,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
            <if test="playCount != null">
                play_count,
            </if>
            <if test="likeCount != null">
                like_count,
            </if>
            <if test="commentCount != null">
                comment_count,
            </if>
            <if test="onlineTime != null">
                online_time,
            </if>
            <if test="shareCount != null">
                share_count,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="poolId != null">
                pool_id,
            </if>
            <if test="realLikeCount != null">
                real_like_count,
            </if>
            <if test="realPlayCount != null">
                real_play_count,
            </if>
            <if test="downloadCount != null">
                download_count,
            </if>
            <if test="realDownloadCount != null">
                real_download_count,
            </if>
            <if test="isDown != null">
                is_down,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="albumId != null">
                #{albumId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="filename != null">
                #{filename,jdbcType=VARCHAR},
            </if>
            <if test="filename64 != null">
                #{filename64,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=INTEGER},
            </if>
            <if test="fileSize64 != null">
                #{fileSize64,jdbcType=INTEGER},
            </if>
            <if test="fileExt != null">
                #{fileExt,jdbcType=VARCHAR},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
            <if test="displayOrder != null">
                #{displayOrder,jdbcType=INTEGER},
            </if>
            <if test="adminId != null">
                #{adminId,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="playCount != null">
                #{playCount,jdbcType=INTEGER},
            </if>
            <if test="likeCount != null">
                #{likeCount,jdbcType=INTEGER},
            </if>
            <if test="commentCount != null">
                #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="onlineTime != null">
                #{onlineTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shareCount != null">
                #{shareCount,jdbcType=INTEGER},
            </if>
            <if test="source != null">
                #{source,jdbcType=INTEGER},
            </if>
            <if test="poolId != null">
                #{poolId,jdbcType=INTEGER},
            </if>
            <if test="realLikeCount != null">
                #{realLikeCount,jdbcType=INTEGER},
            </if>
            <if test="realPlayCount != null">
                #{realPlayCount,jdbcType=INTEGER},
            </if>
            <if test="downloadCount != null">
                #{downloadCount,jdbcType=INTEGER},
            </if>
            <if test="realDownloadCount != null">
                #{realDownloadCount,jdbcType=INTEGER},
            </if>
            <if test="isDown != null">
                #{isDown,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.zhz.domain.ContentConditions"
            resultType="java.lang.Integer">
        select count(*) from duotin_content
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update duotin_content
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.title != null">
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.albumId != null">
                album_id = #{record.albumId,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.filename != null">
                filename = #{record.filename,jdbcType=VARCHAR},
            </if>
            <if test="record.filename64 != null">
                filename_64 = #{record.filename64,jdbcType=VARCHAR},
            </if>
            <if test="record.fileSize != null">
                file_size = #{record.fileSize,jdbcType=INTEGER},
            </if>
            <if test="record.fileSize64 != null">
                file_size_64 = #{record.fileSize64,jdbcType=INTEGER},
            </if>
            <if test="record.fileExt != null">
                file_ext = #{record.fileExt,jdbcType=VARCHAR},
            </if>
            <if test="record.duration != null">
                duration = #{record.duration,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.isDel != null">
                is_del = #{record.isDel,jdbcType=BIT},
            </if>
            <if test="record.displayOrder != null">
                display_order = #{record.displayOrder,jdbcType=INTEGER},
            </if>
            <if test="record.adminId != null">
                admin_id = #{record.adminId,jdbcType=INTEGER},
            </if>
            <if test="record.createdAt != null">
                created_at = #{record.createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updatedAt != null">
                updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="record.playCount != null">
                play_count = #{record.playCount,jdbcType=INTEGER},
            </if>
            <if test="record.likeCount != null">
                like_count = #{record.likeCount,jdbcType=INTEGER},
            </if>
            <if test="record.commentCount != null">
                comment_count = #{record.commentCount,jdbcType=INTEGER},
            </if>
            <if test="record.onlineTime != null">
                online_time = #{record.onlineTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.shareCount != null">
                share_count = #{record.shareCount,jdbcType=INTEGER},
            </if>
            <if test="record.source != null">
                source = #{record.source,jdbcType=INTEGER},
            </if>
            <if test="record.poolId != null">
                pool_id = #{record.poolId,jdbcType=INTEGER},
            </if>
            <if test="record.realLikeCount != null">
                real_like_count = #{record.realLikeCount,jdbcType=INTEGER},
            </if>
            <if test="record.realPlayCount != null">
                real_play_count = #{record.realPlayCount,jdbcType=INTEGER},
            </if>
            <if test="record.downloadCount != null">
                download_count = #{record.downloadCount,jdbcType=INTEGER},
            </if>
            <if test="record.realDownloadCount != null">
                real_download_count = #{record.realDownloadCount,jdbcType=INTEGER},
            </if>
            <if test="record.isDown != null">
                is_down = #{record.isDown,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update duotin_content
        set id = #{record.id,jdbcType=INTEGER},
        title = #{record.title,jdbcType=VARCHAR},
        album_id = #{record.albumId,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        filename = #{record.filename,jdbcType=VARCHAR},
        filename_64 = #{record.filename64,jdbcType=VARCHAR},
        file_size = #{record.fileSize,jdbcType=INTEGER},
        file_size_64 = #{record.fileSize64,jdbcType=INTEGER},
        file_ext = #{record.fileExt,jdbcType=VARCHAR},
        duration = #{record.duration,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=INTEGER},
        is_del = #{record.isDel,jdbcType=BIT},
        display_order = #{record.displayOrder,jdbcType=INTEGER},
        admin_id = #{record.adminId,jdbcType=INTEGER},
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
        play_count = #{record.playCount,jdbcType=INTEGER},
        like_count = #{record.likeCount,jdbcType=INTEGER},
        comment_count = #{record.commentCount,jdbcType=INTEGER},
        online_time = #{record.onlineTime,jdbcType=TIMESTAMP},
        share_count = #{record.shareCount,jdbcType=INTEGER},
        source = #{record.source,jdbcType=INTEGER},
        pool_id = #{record.poolId,jdbcType=INTEGER},
        real_like_count = #{record.realLikeCount,jdbcType=INTEGER},
        real_play_count = #{record.realPlayCount,jdbcType=INTEGER},
        download_count = #{record.downloadCount,jdbcType=INTEGER},
        real_download_count = #{record.realDownloadCount,jdbcType=INTEGER},
        is_down = #{record.isDown,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhz.domain.Content">
        update duotin_content
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="albumId != null">
                album_id = #{albumId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="filename != null">
                filename = #{filename,jdbcType=VARCHAR},
            </if>
            <if test="filename64 != null">
                filename_64 = #{filename64,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                file_size = #{fileSize,jdbcType=INTEGER},
            </if>
            <if test="fileSize64 != null">
                file_size_64 = #{fileSize64,jdbcType=INTEGER},
            </if>
            <if test="fileExt != null">
                file_ext = #{fileExt,jdbcType=VARCHAR},
            </if>
            <if test="duration != null">
                duration = #{duration,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
            <if test="displayOrder != null">
                display_order = #{displayOrder,jdbcType=INTEGER},
            </if>
            <if test="adminId != null">
                admin_id = #{adminId,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="playCount != null">
                play_count = #{playCount,jdbcType=INTEGER},
            </if>
            <if test="likeCount != null">
                like_count = #{likeCount,jdbcType=INTEGER},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="onlineTime != null">
                online_time = #{onlineTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shareCount != null">
                share_count = #{shareCount,jdbcType=INTEGER},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=INTEGER},
            </if>
            <if test="poolId != null">
                pool_id = #{poolId,jdbcType=INTEGER},
            </if>
            <if test="realLikeCount != null">
                real_like_count = #{realLikeCount,jdbcType=INTEGER},
            </if>
            <if test="realPlayCount != null">
                real_play_count = #{realPlayCount,jdbcType=INTEGER},
            </if>
            <if test="downloadCount != null">
                download_count = #{downloadCount,jdbcType=INTEGER},
            </if>
            <if test="realDownloadCount != null">
                real_download_count = #{realDownloadCount,jdbcType=INTEGER},
            </if>
            <if test="isDown != null">
                is_down = #{isDown,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhz.domain.Content">
        update duotin_content
        set title = #{title,jdbcType=VARCHAR},
        album_id = #{albumId,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=INTEGER},
        filename = #{filename,jdbcType=VARCHAR},
        filename_64 = #{filename64,jdbcType=VARCHAR},
        file_size = #{fileSize,jdbcType=INTEGER},
        file_size_64 = #{fileSize64,jdbcType=INTEGER},
        file_ext = #{fileExt,jdbcType=VARCHAR},
        duration = #{duration,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        is_del = #{isDel,jdbcType=BIT},
        display_order = #{displayOrder,jdbcType=INTEGER},
        admin_id = #{adminId,jdbcType=INTEGER},
        created_at = #{createdAt,jdbcType=TIMESTAMP},
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
        play_count = #{playCount,jdbcType=INTEGER},
        like_count = #{likeCount,jdbcType=INTEGER},
        comment_count = #{commentCount,jdbcType=INTEGER},
        online_time = #{onlineTime,jdbcType=TIMESTAMP},
        share_count = #{shareCount,jdbcType=INTEGER},
        source = #{source,jdbcType=INTEGER},
        pool_id = #{poolId,jdbcType=INTEGER},
        real_like_count = #{realLikeCount,jdbcType=INTEGER},
        real_play_count = #{realPlayCount,jdbcType=INTEGER},
        download_count = #{downloadCount,jdbcType=INTEGER},
        real_download_count = #{realDownloadCount,jdbcType=INTEGER},
        is_down=#{isDown,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectMaxDisplayOrder" resultType="java.lang.Integer">
        select max(display_order) from duotin_content
    </select>
    <select id="selectDisplayOrder" resultType="java.lang.Integer"
            parameterType="com.zhz.domain.ContentConditions">
        select display_order from duotin_content
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectIdsByExample" resultType="java.lang.Integer" parameterType="com.zhz.domain.ContentConditions">
        select
        <if test="distinct">
            distinct
        </if>
        id
        from duotin_content
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>


</mapper>
